.films-list-component h2 {
    color: #db5462;
    text-align: center;
}

.films-list-component .MuiTypography-h2 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}

.films-list-component .MuiTypography-h3 {
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 0.3rem;
    margin-top:0px;
    color: black;
}

.films-list-component .film-title {
    height:30px;
    overflow: hidden;
}


.films-list-component .section {
    margin-top: 0.6rem;
    padding: 0.9rem;
}

.films-list-component .film {
    text-align: center;
    margin-bottom: 1.2rem;
    margin-top: 0;
    padding: 0;
}

.films-list-component .films-container {
    padding-top: 2rem;
    max-height: 900px;
    overflow: auto;
}

.films-list-component .film a {
    text-decoration: none;
    color: black;
}

.films-list-component .poster {
    height: 280px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 640px) {
    .films-list-component .poster {
        height: 240px;
    }
}

@media screen and (max-width: 440px) {
    .films-list-component .poster {
        height: 200px;
    }
}

@media screen and (max-width: 380px) {
    .films-list-component .poster {
        height: 150px;
    }
}

.films-list-component .showmore-wrapper {
    display: flex;
    justify-content: center;
    width:auto;
}

.films-list-component .showmore {
    cursor: pointer;
    color: #db5462;
}

