.info-wrapper {
    padding: 2rem;
    margin-bottom: 1rem;
}

.info-wrapper .text-content {
    max-width: 900px;
    margin: auto;
}

/*.info-wrapper .text-content .MuiTypography-h2 {*/
/*    margin-bottom: 1rem;*/
/*    font-weight: bold;*/
/*    text-transform: uppercase;*/
/*}*/