.simple {
    border: 1px solid black;
    padding: 0.3rem;
    text-align: center;
    width: auto;
    margin: 0.3rem;
    border-radius: 0.1rem;
    display: inline-block;
}

.current {
    border: 1px solid black;
    padding: 0.3rem;
    text-align: center;
    width: auto;
    margin: 0.3rem;
    border-radius: 0.1rem;
    display: inline-block;
    color: #db5462;
    text-decoration: underline;
}