.category-title {
    font-family: "TisaSansWeb", sans-serif;
    color: #db5462;
    text-align: center;
    font-size: 1.9em;
}

.model-title {
    font-family: "TisaSansWeb", sans-serif;
    text-transform: uppercase;
    font-size: 2.3em;
    text-align: center;
}

.menu-list {
    font-weight: lighter;
    font-size: 0.9em;
    line-height:0.5em;
}

.menu-list a {
    text-decoration: none;
    color: black;
}

.menu h2 {
    font-family: "TisaSansWeb", sans-serif;
    margin-bottom: 0.1rem;
}

.return-top-caption {
    margin-top: 0;
    text-align: center;
    font-weight: bold;
}

.return-top-caption a {
    text-decoration: none;
    color:black;
    font-size: 0.9em;
}

.category-wrapper .chip {
    margin: 0.2rem 0.1rem;
}

.category-section a {
    text-decoration: none;
}

.category-wrapper .attributes-wrapper {
    padding: 0.3rem 1rem;
}