html {
    background-color: #FAFAFA;
    font-family: "Roboto Light", sans-serif;
}

a {
    color: #db5462;
}

/*Main pages (song, number, film, attribute)*/
.container {
    margin-bottom: 60px;
    min-height: 600px;
}

.properties-title {
    color: #db5462;
}

.property-title {
    font-weight: bold;
}

.main-item-title {
    color: #db5462;
    text-align: center;
    font-size: 1.9em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-item-title-wrapper {
    padding-bottom: 1rem;
}

.icon-main-item {
    color:black;
    padding-right: 0.3rem;
}

.category-section {
    padding: 2px 6px;
    margin-bottom: 6px;
}

.MuiChip-root {
    margin-right: 0.3em;
    margin-bottom: 0.6em;
}

.search-box {
    margin-bottom: 1rem;
}

.search-results {
    margin-bottom: 1rem;
}
