.homepage .stats-container {
    margin-bottom: 1rem;
}

.homepage .section {
    margin-top: 0.6rem;
    padding: 0.9rem;
}

.homepage .film {
    text-align: center;
    margin-bottom: 1.2rem;
    margin-top: 0;
    padding: 0;
}

.homepage .film .film-title {
    height:30px;
    overflow: hidden;
}

.homepage .films-container {
    padding-top: 2rem;
}

.homepage .film a, .homepage .performers-container a {
    text-decoration: none;
    color: black;
}

.homepage .poster {
    width: 200px;
    height: 300px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.homepage .performers-container {
    margin-top: 1.6rem;
    max-height: 600px;
    overflow: auto;
}

.homepage .chip:hover {
    cursor:pointer;
}

.homepage .chip {
    font-size: 1.3rem;
}

.homepage .top-performers-legend {
    margin-top: 0.5rem;
    text-align: center;
}