.searchForm {
    margin-top: 12px;
}

.search-wrapper {
    margin-top:12px;
    padding: 9px;
}

.cartel-title {
    display: flex;
    margin-bottom: 0.3rem;
    /*border-bottom: black 1px solid;*/
}

.cartel-title h2 {
    color: #db5462;
    padding-left:3px;
    font-size: 1.2rem;
    font-weight: bold;
}

.search-wrapper a{
    text-decoration: none;
    color: black;
}