.song-title {
    color: #db5462;
    text-align: center;
    font-size: 1.9em;
}

.section-title {
    color: #db5462;
    font-size: 1.2em;
}

.song-element {
    border: 1px dotted lightgrey;
    padding: 3px 6px;
    margin-bottom: 3px;
}

.song-element p{
    font-size: 0.8em;
}